<nav>
<div>
<%= image_tag("image.png", width: '100px')%><br>
</div>

<%= link_to 'Log Out', logout_path %> |
<%= link_to 'Start A New Order', new_order_path %> |
<%= link_to 'Your Orders', orders_path %> |
<%= link_to 'Available Products', products_path %>

</nav>
<hr>
<h1>Welcome, <%= @manager.name%>!</h1>

<% @manager.orders.each do |order|%>
<% order.products.each do |product|%>
<%= product.name%><br>
<%end%>
<%end%>
<br>
