

<div class="link-styling">
    <%= link_to 'Log Out', logout_path %> |
    <%= link_to 'Start A New Order', new_order_path %> |
    <%= link_to 'Your Orders', orders_path %> |
    <%= link_to 'Available Products', products_path %>
</div>
<hr>
<div class="title-wrapper">
    <h1>Welcome, <%= @manager.name%>!</h1>
</div>
<div class="info">
    <h2>Your Info</h2>
    <h3> Restaurant Name: <%= @manager.company_name%><h3>
    
<div>
<div>
    <h3> Pending Orders: </h3>
    <table>
        <thead>
            <tr>
                <th colspan="1">Order Date</th>
                <th colspan="1">Order Number</th>
               
            </tr>
        </thead>
        <tbody>
            <% @manager.orders.pending.each do |o|%>
            <div>
               <tr>
                <td><%= link_to o.delivery, order_path(o)%></td>
                <td>#<%= o.id%></td>
                <%end%>
                </tr>
            </div>
        </tbody>
   
</div>