<div class="link-styling">
    <%= link_to 'Go Back', manager_path(current_manager) %>
</div>
<div class="title-wrapper">
    <h1>All Your Orders</h1>
</div>

<% @orders.each do |order|%>
<div>
 <ul>
    <li><strong><%= order.delivery %>- <%= order.delivery_status%></strong>
        <div class="link-styling">
            <%= link_to 'Edit Order', edit_order_path(order) %> | 
            <%= link_to "Delete Order", order_path(order), method: 'delete'%>
        </div>
    </li>
  <ol>
    <% order.products.each do |pro|%>
       <li><%= pro.name%><br></li>
   <%end%>
  </ol>
 </ul>
</div>
<%end%>

