
<% if @order.manager == current_manager %>
<nav>
<%= link_to "Edit Order", edit_order_path(@order), method: 'get'%> |
<%= link_to "Delete Order", order_path(@order), method: 'delete'%> |
<%= link_to 'Back', manager_path(current_manager) %>
</nav>
<% end %>


<ul>
<li><%= @order.delivery %><br></li>
<ol>
<% @order.products.each do |pro|%>
<%#
byebug%>
<li><%= pro.name%> - <%= pro.vendor.name%><br></li>
<%end%>
</ol>
</ul>

