<nav>
<div>
<%= image_tag("image.png", width: '100px')%><br>
</div>
<%= link_to 'Portfolio', vendor_products_path(@vendor) %> |
<%= link_to 'Add A New Product To Your Portfolio', new_vendor_product_path(@vendor) %> 
<br>
</nav>
<h1>Welcome <%= @vendor.rep_name%>! </h1>
<%= link_to "Logout", logout_path %>
<br>
