
<div class="link-styling">
    <%= link_to 'Portfolio', vendor_products_path(@vendor) %> |
    <%= link_to 'Add A New Product To Your Portfolio', new_vendor_product_path(@vendor) %> |
    <%= link_to "Logout", logout_path %>
</div>
<hr>
<div class="title-wrapper">
    <h1>Welcome <%= @vendor.rep_name%>! </h1>
</div>
<div class="info">
    <h2>Your Info</h2>
    <h3> Company Name: <%= @vendor.name%>
    
<div>

