
<%if @vendor == current_vendor%>

 <strong>Portfolio for <%= @vendor.name%></strong>
<br>
<br>
<div>
<ul>
    <% @products.each do |product| %>
    <li><%= product.name %> - $<%= product.price%> | <%= product.description%> <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to "Delete", product_path(product), method: 'delete'%></li>
    <br>
    <% end %>
 </ul>   
<% else %>
<h4> List of Products </h4>
<hr>
    <ul>
    <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product)%> - <%= product.vendor.name%></li>
    <br>
    <% end %>
    </ul>

</div>
<% end %>
