<% @error if @error%>

<%if @vendor%>
 Portfolio for <%= @vendor.name%>
<br>
<br>
<div>
<% @products.each do |product| %>
<%= product.name %> - $<%= product.price%> | <%= product.description%> <%= link_to 'Edit', edit_product_path(product) %> |
<%= link_to "Delete", product_path(product), method: 'delete'%>
<br>
<% end %>
<% else %>
<h4> List of Products </h4>
<ul>
<% @products.each do |product| %>
<li><%= link_to product.name, product_path(product)%> - <%= product.vendor.name%></li>
<br>
<% end %>
</ul>


<% end %>
