<!DOCTYPE html>
<html>
  <head>
    <title>ReSupplyz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="image-style">
    <%= image_tag("image.png", width: '100px')%><br>
  </div>

  <div class="title-logo">
    <h1>ReSupplyz</h1>
  </div>
 <hr>
    <%= yield %>
  </body>
</html>
